@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&family=Montserrat&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root{
    --textColor: #FB2576;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 14px;
    background: rgb(2, 0, 36);
    background: linear-gradient(86deg, rgba(2, 0, 36, 1) 26%, rgba(10, 6, 46, 1) 55%, rgba(3, 1, 23, 1) 84%, rgba(3, 1, 23, 1) 100%);
}

h1, h2{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

#main-header .logo {
    height: 500px;
    margin-left: -90px;
    margin-top: 90px;
}

#main-header ul {
    margin: 17px;
}

#main-header li {
    display: inline;
    padding: 13px
}

#main-header li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .3s;
    font-weight: 500;
}


#main-header li a:hover {
    opacity: 0.8;
}

/* Showcase styles */

.showcase {
    display: flex;
    flex-direction: column;
    background-image: url("https://images.pexels.com/photos/8721318/pexels-photo-8721318.jpeg?auto=compress&cs=tinysrgb&w=1600");
    /* background-image: url("https://images.pexels.com/photos/4144179/pexels-photo-4144179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-size: cover;
    background-position: top;
    height: 80vh;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.showcase::after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: black;
    opacity: 0.4;
}

.showcase h1 {
    z-index: 100;
    color: var(--textColor);
    width: 60%;
    text-align: center;
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.025em;
}

.showcase h2 {
    font-size: 50px;
    z-index: 2;
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -.025em;
    color: rgb(255 255 255/1);
}

.showcase p {
    z-index: 100;
    color: #fff;
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, .5);
    margin-top: 10px;
    ;
}


/* Opening and Closing Menu on Phones */
.openMenu {
    font-size: 25px;
    margin-top: 2px !important;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #fff;
}


.closeMenu {
    font-size: 25px;
    display: none;
    cursor: pointer;
    color: #fff;
}


/* Collection */
#collection {
    background: rgb(2, 0, 36);
    background: linear-gradient(86deg, rgba(2, 0, 36, 1) 26%, rgba(10, 6, 46, 1) 55%, rgba(3, 1, 23, 1) 84%, rgba(3, 1, 23, 1) 100%);
}

.collection_container {
    height: 80vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
}

.collection_container .collection_text h1 {
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -.025em;
    color: var(--textColor);
}

.collection_container .collection_text p {
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, .5);
    margin-top: 10px;
}

.collection_container .collection_card .card {
    /* background-color: rgba(17, 25, 40, 0.75); */
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
    line-height: 30px;
    color: #e1e1e4;
    height: 50%;
    font-size: .63rem;
    height: 150px;
    gap: 18px;
}

.collection_container .collection_card .card:hover {
    box-shadow: 1px -1px 17px -5px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px -1px 17px -5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px -1px 17px -5px rgba(255, 255, 255, 0.75);
}


.collection_card {
    flex: 5;
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 1fr;
}

.collection_text {
    flex: 4;
}

.card_text h2 {
    font-size: 17px;
}

.icon {
    height: 50px;
    animation: spin 5s infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card p {
    font-size: 12px;
    line-height: 17px;
    color: hsla(0, 0%, 100%, .5);
}

#about {
    /* background-color: #000; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    margin-bottom: 50px;
}

.aboutus_container {
    width: 70%;
    margin: auto;
}

#about .aboutus_container img {
    max-height: 300px;
    border-radius: 20px;
    object-fit: contain;
}

#about .aboutus_container h1 {
    /* margin-top: 40px; */
    color: var(--textColor);
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -.025em;
}

#about .aboutus_container p {
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, .5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_container{
    display: flex;
    gap: 60px;
}

/* Modernization Section*/
.modernization {
    color: #fff;
    height: 70vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modernization_container {
    background-color: #0e1538;
    padding: 20px;
    border-radius: 30px;
}

.modernization h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    color: var(--textColor);
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -.025em;
}

.modernization .modernization_container .modernization-inner_container p {
    /* text-align: center; */
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, .5);
    margin-top: 10px;
    margin-bottom: 20px;
}

.modernization-inner_container {
    display: flex;
    gap: 50px
}

.modernization .modernization_container img {
    height: 300px;
    border-radius: 10px;
}

.partners-inner_container img {
    height: 200px;
}

.partners-inner_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.partners_container {
    width: 70%;
    text-align: center;
    margin: auto;
}

.partners_container h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    color: var(--textColor);
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -.025em;
}

/* Contact */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;
    margin-top: 200px;

}
.contact_container{
    background-color: #0e1538;
    padding: 50px;
    border-radius: 30px;
    color: #fff;
}

#contact .contact_container input, textarea{
    display: block;
    width: 100%;
    margin: 10px 0px;
}

#contact .contact_container input, textarea:focus{
    outline: none;
}

#contact .contact_container input{
    padding: 10px;
    border: none;
    border-radius: 8px;
}

#contact .contact_container textarea{
    border-radius: 8px;
}

#contact .contact_container h1{
    text-align: center;
    margin-top: 40px;
    color: var(--textColor);
    font-size: 2.3rem;
    font-weight: 800;
    letter-spacing: -.025em;
}

#contact .contact_container p{
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, .5);
    margin-top: 10px;
    margin-bottom: 20px;
}

#contact .contact_container button{
    width: 100%;
    background-color: var(--textColor);
    color: #fff;
    padding: 10px;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
}

/* Footer */
#footer{
    background-color: #0C102E;
    height: 20vh;
}

.footer_container{
    padding-top: 20px;
}

#footer p{
    text-align: center;
    font-size: 0.825rem;
    line-height: 1.75rem;
    color:#fff;
    margin-top: 10px;
}


/* Modals */
.modal{
    z-index: 10000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;  
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    animation: fadeInOut 0.5s ease-in-out forwards;
}


.modal-content{
    background-color: #0e1538;
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 10001
}

.modal-content img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
}

.modal-content p{
    font-size: 1.025rem;
    line-height: 1.75rem;
    color: hsla(0, 0%, 100%, .5);
}

.modal-header{
    font-weight: 500;
    padding: 10px 0;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

.modal-close{
    font-size: 20px;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.modal-body{
    padding: 15px 0;
}

/* Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 }




@media screen and (max-width: 1274px) {
    nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        background-color: #0C102E;
        align-items: center;
        transition: top 0.7s ease;
        display: none;
    }

    nav ul li a {
        display: block;
    }

    .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .openMenu {
        display: block;
    }

    .showcase h1 {
        font-size: 2rem;
        width: 100%;
    }

    .showcase h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    .showcase p {
        font-size: 1rem;
        text-align: center;
    }

    .collection_container {
        width: 75%;
        height: 150vh;
        display: block;
    }

    .collection_card {
        display: block;
    }

    .collection_container .collection_text h1 {
        font-size: 1.8rem;
        margin-top: 40px;
    }

    .collection_container .collection_text p {
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .collection_container .collection_card .card {
        margin-top: 20px;
    }

    #about .aboutus_container img {
        display: none;
    }

    #about .aboutus_container p {
        font-size: 0.8rem;
        line-height: 1.6;
        text-align: left;
    }

    #about .aboutus_container h1 {
        font-size: 1.9rem;
        margin-top: 250px;
    }

    .modernization .modernization_container img {
        display: none;
    }

    .partners_container h1 {
        margin-left: -1px;
    }

    .partners-inner_container img {
        height: 110px;
    }
    
    .partners-inner_container {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    #about{
        height: 50vh;
    }
    .modal{
        overflow-y: scroll;
    }
    .modal-content img{
        display: none;
    }

}


@media screen and (max-width: 450px) {
    body{
        overflow-x: hidden;
    }
    #main-header .logo {
        height: 350px;
        margin-left: -80px;
        margin-top: 60px;
    }

    .icon {
        display: none;
    }
    #about{
        height: 80vh;
    }

    .modernization{
        margin-bottom: 400px;
     }

     #about{
        height: 80vh;
        margin-bottom: 100px;
        margin-top: 50px;
    }

}

@media screen and (max-width: 430px) {
    .modernization{
        margin-bottom: 200px;
    }

    #about{
        height: 80vh;
        margin-bottom: 100px;
        margin-top: 0px;
    }

}

@media screen and (max-width: 390px) {
    .collection_container {
        height: 180vh;
    }
}
